<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Interstitial Journal captures your screen when you use the screenshot shortcut, so you can attach it to a journal entry.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.interstitialjournal.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ij</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
